<ion-modal-view ng-controller="SearchCtrl" id="search">


  <div class="bar bar-header bar-dark item-input-inset">
    <div class="item-input-wrapper">
      <i class="ion-ios-search-strong placeholder-icon light"></i>
      <input type="text"
             placeholder="Search stocks..">
      <i class="icon ion-close-round"></i>
    </div>
  </div>
  <ion-content class="has-header"><ion-list>
    <ion-item class="item-dark">
      <h3 class="light">Result</h3>
      <h6 class="light">Info</h6>

    </ion-item>
  </ion-list></ion-content>
</ion-modal-view>
